# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local kube config
.kube/

# Logs
*.log# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/crash.*.log

# Local kube/helm junk (optional)
*.log

# OS/editor
.DS_Store
.vscode/
